.main_container {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

@media (min-width: 580px) {
    .main_container {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    .main_container {
        margin-bottom: 60px;
    }
}

@media (min-width: 1250px) {
    .main_container {
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px;
    }
}
